@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;

  text-decoration: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

body, main {
  height: 100vh;
}

body {
  background: linear-gradient(230deg, #a24bcf, #4b79cf, #4bc5cf);
  background-size: 300% 300%;
  animation: bg-gradient 15s ease infinite;
  @keyframes bg-gradient {
    0% {
      background-position: 0 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0 50%;
    }
  }
}

input[type="text"] {
  padding: 0.25em;
  text-align: center;

  &.large {
    font-size: 24px;
  }
}

input[type="button"], input[type="submit"] {
  padding: 0.25em;
  border: none;
  background: lightgray;
  cursor: pointer;
  transition: all 250ms ease;

  &:hover {
    background: darkgray;
  }

  &:active {
    color: white;
    background: black;
  }

  &.large {
    font-size: 24px;
  }
}

label {
  &.large {
    font-size: 24px;
  }
}